@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="text-success fst-italic fw-bold mt-5">LessPollu</h1>
    <h4 class="fst-italic">Sistema de Gestão e Monitoramento de Emissões de Poluentes</h4>
    <hr class="border border-success border-2 opacity-100">

    <div class="container text-center mt-5 d-flex justify-content-evenly">
        <div class="row">
            <div class="col">
                <a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="Index">
                    <div class="card text-bg-light mb-3" style="max-width: 25rem;">
                        <div class="card-body">
                            <h5 class="card-title text-success fst-italic fw-bold">Usuario</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="nav-link text-dark" asp-area="" asp-controller="Cliente" asp-action="Index">
                    <div class="card text-bg-light mb-3" style="max-width: 25rem;">
                        <div class="card-body">
                            <h5 class="card-title text-success fst-italic fw-bold">Cliente</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="nav-link text-dark" asp-area="" asp-controller="Dentista" asp-action="Index">
                    <div class="card text-bg-light mb-3" style="max-width: 25rem;">
                        <div class="card-body">
                            <h5 class="card-title text-success fst-italic fw-bold">Dentista</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="container text-center mt-5 d-flex justify-content-evenly">
        <div class="row">
            <div class="col">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">
                    <div class="card text-bg-light mb-3" style="max-width: 25rem;">
                        <div class="card-body">
                            <h5 class="card-title text-success fst-italic fw-bold">Privacy</h5>
                            <p class="card-text">Página de Política de Privacidade explica como armazenamos as informações fornecidas ao acessar nosso site.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="nav-link text-dark" href="https://github.com/Luccas-Silva/Fiap_GlobalSolution_LessPollu" target="_blank">
                    <div class="card text-bg-light mb-3" style="max-width: 25rem;">
                        <div class="card-body">
                            <h5 class="card-title text-success fst-italic fw-bold">GitHub</h5>
                            <p class="card-text">Acesse o GitHub do projeto para conferir o código-fonte, documentação e atualizações, promovendo transparência e colaboração.</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

</div>
