@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="text-success fst-italic fw-bold mt-5">@ViewData["Title"]</h1>
<hr class="border border-success border-2 opacity-100">

<p>Bem-vindo à nossa página de Política de Privacidade! Aqui, detalhamos como coletamos, usamos, armazenamos e protegemos as informações que você nos fornece ao acessar nosso site. Nossa prioridade é garantir a transparência e a segurança dos seus dados, respeitando sua privacidade em conformidade com as leis aplicáveis. Nesta página, você encontrará informações claras sobre os tipos de dados que coletamos, os motivos para sua coleta e seus direitos como usuário. Ao utilizar nosso site, você concorda com os termos descritos nesta política, e recomendamos que você a leia atentamente para estar ciente de todas as práticas relacionadas aos seus dados.</p>
